nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    }
    nav a {
        text-decoration: none;
        color: rgb(241, 109, 148);
    }
    nav a:hover,
    nav a:focus {
        color:floralwhite;
    }
    .container{
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
    }
    .container-nav{
        display: flex;
        justify-content:space-between;
        align-items:center ;
    }
    
    header{
        background-color:#ffc0cb;
        padding: 0.8em 0;
        box-shadow: 2px 2px 10px black;
    }
    
    .fa{
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }
    .fa-youtube{
        background: palevioletred;
        color: floralwhite;
    }
     .fa-instagram{
        background: purple;
        color: #fffaf0;
                 }  
    .fa-linkedin{
        background: rgb(180, 97, 192);
        color: floralwhite;
           }
    body{
        background-image: url(https://img.freepik.com/free-vector/abstract-sky-background-with-sugar-cotton-pink-clouds-design_1048-15328.jpg?t=st=1740362172~exp=1740365772~hmac=d2362c366f908f51508190ad7069e8ee00b120006e5b7b191e49a8b1a5baa6b9&w=2000);
        color: #c86ec8;
        font-family: 'romanesco';
        font-size: 32px;
    }
    body ul{
          list-style:none;

          }
    .homebody{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
                  }
    .social{
        
    }
    
    .img1{
        flex: 1 1 auto;
        padding: 50px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 25px;
        height: min-content; 
              }
    div .body{
        order: -1;
    }
     
     .img2{
        flex: 1 1 auto;
        padding: 50px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 30px;
        width: 60%;
        order: 1;
    }
          
    div.about{
        display: flex;
        flex-flow: wrap column-reverse;
        align-items: center;
       } 
       
    
    .me{
       align-self:center;
       order: 2;
       text-decoration: underline;
       text-decoration-color: #dfb4f7;
       margin: -2%;
       padding-top: 7%;
       
    } 

    button{
        background-color: lightpink;
        color: darkmagenta;
        padding: 15px 32px;
        font-family: 'romanesco';
        font-size: 40px;
        font-weight: bold;
    }
     button :hover,
     button :focus{
        color: floralwhite;
        }


    .projects{
        display: flex;
        
     }
    .skills{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 7%;
              } 

     #list{
        list-style: disc;
        padding-left: 20%;
                 
     }     

    .para{
       flex-direction: column-reverse;
       padding-top: 0;
       padding-bottom: 0;
       padding-left: 15%;
       padding-right: 15%;
          }

    .protitle{
       padding-left: 45%;
             }  
    
    .titles{
        text-decoration: underline;
        text-decoration-color: #dfb4f7;
        margin-bottom: -2%;
    }
    .subtitle{
        padding-left: 20%;
        color:floralwhite;
        font-style: italic;
    }
    .contact{
       display: flex;
       flex-direction: row;
       margin-right: 25%;
       margin-left: 10%;
            }
    
    #form{
        margin-left: 16%;
        margin-top: -10%;
        align-self: center;
     
    }
    .ctitle{
       
        margin-left: 35%;
        
    }
    
    
   
      